#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 900;
}

h2.color-title {
    font-weight: normal;
    
}


img {
    width: 200px;
    height: 200px;
}